<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>CFBundleGetInfoString</key>
        <string>Autobrowser</string>
        <key>CFBundleExecutable</key>
        <string>autobrowser</string>
        <key>CFBundleIdentifier</key>
        <string>com.pltanton.autobrowser</string>
        <key>CFBundleName</key>
        <string>autobrowser</string>
        <key>CFBundleIconFile</key>
        <string>AppIcon.icns</string>
        <key>CFBundleShortVersionString</key>
        <string>0.01</string>
        <key>CFBundleInfoDictionaryVersion</key>
        <string>6.0</string>
        <key>CFBundlePackageType</key>
        <string>APPL</string>
        <key>IFMajorVersion</key>
        <integer>0</integer>
        <key>IFMinorVersion</key>
        <integer>1</integer>

        <key>CFBundleSupportedPlatforms</key>
        <array>
            <string>MacOSX</string>
        </array>


        <key>CFBundleDocumentTypes</key>
        <array>
            <dict>
                <key>CFBundleTypeExtensions</key>
                <array>
                    <string>html</string>
                </array>
                <key>CFBundleTypeIconFile</key>
                <string>autobrowser</string>
                <key>CFBundleTypeMIMETypes</key>
                <array>
                    <string>text/html</string>
                </array>
                <key>CFBundleTypeName</key>
                <string>HTML Document</string>
                <key>CFBundleTypeRole</key>
                <string>Viewer</string>
                <key>LSTypeIsPackage</key>
                <integer>0</integer>
                <key>NSDocumentClass</key>
                <string>NSDocument</string>
            </dict>
            <dict>
                <key>CFBundleTypeExtensions</key>
                <array>
                    <string>xhtml</string>
                    <string>xht</string>
                    <string>xhtm</string>
                    <string>xht</string>
                </array>
                <key>CFBundleTypeIconFile</key>
                <string>autobrowser</string>
                <key>CFBundleTypeMIMETypes</key>
                <array>
                    <string>application/xhtml+xml</string>
                </array>
                <key>CFBundleTypeName</key>
                <string>XHTML document</string>
                <key>CFBundleTypeRole</key>
                <string>Viewer</string>
                <key>LSTypeIsPackage</key>
                <integer>0</integer>
                <key>NSDocumentClass</key>
                <string>NSDocument</string>
            </dict>
        </array>

        <key>CFBundleURLTypes</key>
        <array>
            <dict>
                <key>CFBundleTypeRole</key>
                <string>Viewer</string>
                <key>CFBundleURLName</key>
                <string>AutobrowserHttp</string>
                <key>CFBundleURLSchemes</key>
                <array>
                    <string>http</string>
                </array>
            </dict>
            <dict>
                <key>CFBundleTypeRole</key>
                <string>Viewer</string>
                <key>CFBundleURLName</key>
                <string>AutobrowserHttps</string>
                <key>CFBundleURLSchemes</key>
                <array>
                    <string>https</string>
                </array>
            </dict>
        </array>
        <key>NSUserActivityTypes</key>
        <array>
            <string>NSUserActivityTypeBrowsingWeb</string>
        </array>
    </dict>
</plist>
