fromvar := echo 'fromvar command {}' # Command from browser

fromvar:url.regex='.*fromvar.com.*'

# Comment that should be ignored

echo 'matched by url {}':url.regex='.*url.com.*'
echo 'matched by Alacritty class {}':app.class=Alacritty
echo 'matched by gnome class {}':app.class=gnome-terminal-server
echo 'matched by fallback {}':fallback